<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a routerLink="" class="navbar-brand">UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsingNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>

