<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <a *ngFor="let feed of newsFeedList;let i=index;" class="list-unstyled">
        <div class="row">
          <div class="col-12">
            <h4>{{feed.title}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{{feed.post}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-center">
            <button class="btn-no-style"
                    [ngClass]="{'opinion-btn-active':feed.userOpinion.disableOpinion==='like',
                    'opinion-btn-inactive':feed.userOpinion.disableOpinion==='unLike',
                    'opinion-btn':feed.userOpinion.disableOpinion==='none'}"
                    [disabled]="feed.userOpinion.disableOpinion==='unLike'"
                    (click)="onOpinion('like', i)">
              <span class="material-icons opinion-btn-size">thumb_up</span>
            </button>
            <span class="opinion-count">{{likesCount}}</span>
          </div>
          <div class="col-4 text-center">
            <button class="btn-no-style"
                    [ngClass]="{'opinion-btn-inactive':feed.userOpinion.disableOpinion==='like',
                    'opinion-btn-active':feed.userOpinion.disableOpinion==='unLike',
                    'opinion-btn':feed.userOpinion.disableOpinion==='none'}"
                    [disabled]="feed.userOpinion.disableOpinion==='like'"
                    (click)="onOpinion('unLike', i)">
              <span class="material-icons opinion-btn-size">thumb_down</span>
            </button>
            <span class="opinion-count">{{unLikesCount}}</span>
          </div>
          <div class="col-4 text-center">
            <button class="btn-no-style">
              <span class="material-icons">comment</span>
            </button>
          </div>
        </div>
        <div class="row" style="padding-bottom: 5px; background-color: darkgray"></div>
      </a>
    </div>
    <!--</ul>-->
  </div>
</div>
