.btn-no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.opinion-count {
  padding-left: 2px;
}

.opinion-btn {
  font-size: 12px;
  font-weight: lighter;
  font-style: normal;
}

.opinion-btn-active {
  color: blue;
  /*font-weight: bolder;
  font-style: italic;*/
}

.opinion-btn-inactive {
  cursor: not-allowed;
  /*background-color: #f2f2f2 !important;*/
  color: rgba(148, 152, 155, 0.5) !important;
  /*border: solid 2px transparent !important;*/
  box-shadow: none !important;
}

.opinion-btn-size {
  font-size: 18px !important;
}
